composer.phar
/vendor/
public/files/img/
tmp/cache/
public/js/jquery-3.6.0.js
public/test
public/test/error
app/view/admin/main/plugins
app/view/admin/main/dist
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
